**/*.RDS
**/*.gtf
**/data/
nextflow_pipeline/workflow/work/
nextflow_pipeline/workflow/results/
**/*.sif
**/*.bed
**/*.fa
**/*.pdf
**/*.tsv
**/*.txt
scripts/deseq_out/
scripts/deseq_prep_files/
scripts/nanoplot_outputs/
scripts/oldslurm/
**/*.err
**/*.out
**/cemetery
**/tables
**/figures
nextflow_pipeline/workflow/GTEX_DATA_SUBMISSION/*
!nextflow_pipeline/workflow/GTEX_DATA_SUBMISSION/submit_pipeline_step_2_example.sh
!nextflow_pipeline/workflow/GTEX_DATA_SUBMISSION/submit_pipeline_step_3_example.sh
nextflow_pipeline/workflow/OUR_DATA_SUBMISSION/*
!nextflow_pipeline/workflow/OUR_DATA_SUBMISSION/submit_pipeline_step_2_example.sh
!nextflow_pipeline/workflow/OUR_DATA_SUBMISSION/submit_pipeline_step_3_example.sh
